<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="panel-title"><button type="button" class="btn btn-primary btn-xs pull-right homeBtn" ng-click="vm.home()">Home</button>Create New Contact</h1>
        </div>
        <div class="panel-body">
            <div class="alert alert-danger" role="alert" ng-show="!addForm.$valid && addForm.$submitted && !vm.fixedForm">
                <div  ng-messages="addForm.firstName.$error" ng-show="!vm.fixed.firstName">
                    <div ng-message="required">First Name required</div>
                    <div ng-message="pattern">Not a valid first name (all letters and ' are valid characters)</div>
                </div>
                <div ng-messages="addForm.lastName.$error" ng-show="!vm.fixed.lastName">
                    <div ng-message="pattern">Not a valid last name (all letters and ' are valid characters)</div>
                </div>
                <div ng-messages="addForm.url.$error" ng-show="!vm.fixed.url">
                    <div ng-message="pattern">Not a valid website url (HINT: must start with http:// or https://)</div>
                </div>
                <div ng-messages="addForm.address.$error" ng-show="!vm.fixed.address">
                    <div ng-message="pattern">Not a valid address (make sure you have house number first)</div>
                </div>
                <div ng-messages="addForm.city.$error" ng-show="!vm.fixed.city">
                    <div ng-message="pattern">Not a valid city name (all letters the ' and . are valid characters)</div>
                </div>
                <div ng-messages="addForm.state.$error" ng-show="!vm.fixed.state">
                    <div ng-message="pattern">Not a valid state name (all letters the ' and . are valid characters)</div>
                </div>
                <div ng-messages="addForm.zip.$error" ng-show="!vm.fixed.zip">
                    <div ng-message="pattern">Not a valid zip code (can be either 5 digits or 9 digits)</div>
                </div>
                <div ng-messages="addForm.email.$error" ng-show="!vm.fixed.email">
                    <div ng-message="pattern">Not a valid email address (did you forget the @ symbol?)</div>
                </div>
                <div ng-messages="addForm.phone.$error" ng-show="!vm.fixed.phone">
                    <div ng-message="pattern">Not a valid phone number (must be at least 10 digits and use x for extinsions)</div>
                </div>
                <div ng-messages="addForm.work.$error" ng-show="!vm.fixed.work">
                    <div ng-message="pattern">Not a valid work phone number (must be at least 10 digits and use x for extinsions)</div>
                </div>
            </div>
            <form novalidate name='addForm' ng-submit="vm.create()">
                <div class="form-group col-sm-6 col-md-4" ng-class="{ 'has-error': addForm.firstName.$touched && addForm.firstName.$invalid }">
                    <label class="control-label">First Name</label>
                    <input type="text" class="form-control" placeholder="First Name" name='firstName' ng-model="vm.contact.first_name" ng-pattern="vm.regExp.NAME" required />
                </div>
                <div class="form-group col-sm-6 col-md-4" ng-class="{ 'has-error': addForm.lastName.$touched && addForm.lastName.$invalid }">
                    <label class="control-label">Last Name</label>
                    <input type="text" class="form-control" placeholder="Last Name" name='lastName' ng-model="vm.contact.last_name" ng-pattern="vm.regExp.NAME" />
                </div>
                <div class="form-group col-sm-6 col-md-4">
                    <label class="control-label">Company</label>
                    <input type="text" class="form-control" placeholder="Company" name='company' ng-model="vm.contact.company_name" />
                </div>
                <div class="form-group col-sm-6 col-md-6" ng-class="{ 'has-error': addForm.url.$touched && addForm.url.$invalid }">
                    <label class="control-label">Website</label>
                    <input type="url" class="form-control" placeholder="Website" name='url' ng-model="vm.contact.url" ng-pattern="vm.regExp.URL" />
                </div>
                <div class="form-group col-sm-12 col-md-6" ng-class="{ 'has-error': addForm.address.$touched && addForm.address.$invalid }">
                    <label class="control-label">Address</label>
                    <input type="text" class="form-control" placeholder="Address" name='address' ng-model="vm.contact.address" ng-pattern="vm.regExp.ADDRESS" />
                </div>
                <div class="form-group col-sm-4 col-md-4" ng-class="{ 'has-error': addForm.city.$touched && addForm.city.$invalid }">
                    <label class="control-label">City</label>
                    <input type="text" class="form-control" placeholder="City" name='city' ng-model="vm.contact.city" ng-pattern="vm.regExp.CITYSTATE" />
                </div>
                <div class="form-group col-sm-4 col-md-4" ng-class="{ 'has-error': addForm.state.$touched && addForm.state.$invalid }">
                    <label class="control-label">State</label>
                    <input type="text" class="form-control" placeholder="State" name='state' ng-model="vm.contact.state" ng-pattern="vm.regExp.CITYSTATE" />
                </div>
                <div class="form-group col-sm-4 col-md-4" ng-class="{ 'has-error': addForm.zip.$touched && addForm.zip.$invalid }">
                    <label class="control-label">Zip</label>
                    <input type="text" class="form-control" placeholder="Zip" name='zip' ng-model="vm.contact.zip" ng-pattern="vm.regExp.ZIP" />
                </div>
                <div class="form-group col-sm-6 col-md-4" ng-class="{ 'has-error': addForm.email.$touched && addForm.email.$invalid }">
                    <label class="control-label">Email</label>
                    <input type="email" class="form-control" placeholder="Email" name='email' ng-model="vm.contact.email" ng-pattern="vm.regExp.EMAIL" />
                </div>
                <div class="form-group col-sm-3 col-md-4" ng-class="{ 'has-error': addForm.phone.$touched && addForm.phone.$invalid }">
                    <label class="control-label">Phone</label>
                    <input type="tel" class="form-control" placeholder="Phone" name='phone' ng-model="vm.contact.phone" ng-pattern="vm.regExp.PHONE" />
                </div>
                <div class="form-group col-sm-3 col-md-4" ng-class="{ 'has-error': addForm.work.$touched && addForm.work.$invalid }">
                    <label class="control-label">Work Phone</label>
                    <input type="tel" class="form-control" placeholder="Work Phone" name='work' ng-model="vm.contact.work_phone" ng-pattern="vm.regExp.PHONE" />
                </div>
                <button type="submit" class="btn btn-success">Create Contact</button>
                <button type="button" ng-click="vm.clear()" class="btn btn-warning">Reset</button>
            </form>
        </div>
    </div>
</div>
