<div class="col-md-4">  
    <form class="searchForm" ui-scrollpoint>
            <div class="form-group">
                <label for="searchBox" class="control-label">Search</label>
                <input type="text" class="form-control" placeholder="Search" id="searchBox" ng-model="search" />
            </div>
            <div class="form-group">
                <label for="selectFilter" class="control-label">Filter by Last Name</label>
                <select class="form-control" id="selectFilter" ng-model="searchLast">
                    <option></option>
                    <option ng-repeat="letter in vm.filterLast">{{letter}}</option>
                </select>
            </div>
            <button type="button" class="btn btn-success" ng-click="vm.add()">Create New Contact</button>
    </form>
</div>
<div class="col-md-8">
    <div class="panel panel-default" ng-repeat="contact in vm.contacts | filter:search | firstFilt:searchLast">
        <div class="panel-heading">
            <h3 class="panel-title"><span ng-if="contact.last_name !== null">{{contact.last_name}}, </span>{{contact.first_name}}<button type="button" class="btn btn-primary btn-xs pull-right" ng-click="vm.edit(contact.id)">Edit</button></h3>
        </div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt ng-if="contact.company_name !== null">Company:</dt>
                <dd ng-if="contact.company_name !== null">{{contact.company_name}}</dd>
                <dt ng-if="contact.address !== null || contact.city !== null || contact.state !== null || contact.zip !== null">Address:</dt>
                <dd ng-if="contact.address !== null">{{contact.address}}</dd>
                <dd ng-if="contact.city !== null || contact.state !== null || contact.zip !== null"><span ng-if="contact.city !== null">{{contact.city}}<span ng-if="contact.city !== null && contact.state !== null">,</span> </span>{{contact.state}} {{contact.zip}}</dd>
                <dt ng-if="contact.email !== null">Email:</dt>
                <dd ng-if="contact.email !== null"><a href="mailto:{{contact.email}}">{{contact.email}}</a></dd>
                <dt ng-if="contact.phone !== null">Phone:</dt>
                <dd ng-if="contact.phone !== null">{{contact.phone | phoneFilt}}</dd>
                <dt ng-if="contact.work_phone !== null">Work Phone:</dt>
                <dd ng-if="contact.work_phone !== null">{{contact.work_phone | phoneFilt}}</dd>
                <dt ng-if="contact.url !== null">Website:</dt>
                <dd ng-if="contact.url !== null"><a href="{{contact.url}}">{{contact.url}}</a></dd>
            </dl>
        </div>
    </div>
</div>